<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <!-- TODO: Remove workaround for "Could not load file or assembly 'System.Memory, Version=4.0.1.2 ..." errors in 2025.3 Rider SDK: -->
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
