<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <!-- WORKAROUND: disable code coverage analysis to avoid 'IndexOutOfRangeException: rid(xx) is outside of (0, xx] in table Document in (memory)' -->
                    <Include>[DISABLE_XmlDocInspections.Plugin.*]*</Include>
                    <Exclude>[XmlDocInspections.Plugin.*]ReSharperExtensionsShared.*</Exclude>
                    <IncludeTestAssembly>true</IncludeTestAssembly>
                    <SkipAutoProps>true</SkipAutoProps>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>
